<DOCTYPE html>
<html ng-app="parseQ">
<head>
	<link rel="stylesheet" type="text/css" href="main.css">
	<title>ParseQ</title>
</head>
<body ng-controller="mainCtrl">

	<!-- <input ng-model="test" />
	{{test}} -->


	<input ng-model="question" /> <br>
	<button ng-click="postData()">Submit Question</button>

	<div ng-repeat="question in questions">
		<h2>{{question.text}}</h2>
	</div>


<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/mainController.js"></script>
<script src="js/services/parseService.js"></script>
<script src="js/defaultHeaders.js"></script>
</body>
</html>